# Path to target Python repository (Use absolute path like /Users/... or relative path like ../my-repo. Avoid ~ tilde in docker compose)
TARGET_REPO=.

# Relative directory paths for test suites in target repository
UNIT_DIR=backend/tests/unit
INTEGRATION_DIR=backend/tests/integration
ACCEPTANCE_DIR=backend/tests/acceptance

PORT=9388
