# Path to target Python repository (Use absolute path like /Users/... or relative path like ../my-repo. Avoid ~ tilde in docker compose)
TARGET_REPO=./sample-target-repo

# Relative directory paths for test suites in target repository
UNIT_DIR=tests/unit
INTEGRATION_DIR=tests/integration
ACCEPTANCE_DIR=tests/acceptance

PORT=9388
